#container {
    padding-top: 10%;
    padding-left: 40%;
    font-size: 2rem;
}

#value {
    padding-top: 10%;
    padding-left: 6.5%;
    font-size: 8rem;
}

button {
    border-radius: 15%;
}